# xnatctl environment variables
# Copy to .env and fill in values

# --- Connection ---
# XNAT_URL=https://xnat.example.org
# XNAT_USER=admin
# XNAT_PASS=
# XNAT_TOKEN=
# XNAT_PROFILE=default
# XNAT_VERIFY_SSL=true
# XNAT_TIMEOUT=30

# --- Transfer ---
XNAT_PROJECT=CLM01_UCA_4
XNAT_TRANSFER_MODE=only-transfer-labels
XNAT_DATE_START=2025-10-01
XNAT_DATE_END=2026-01-02
XNAT_TEMP_DIR=/srv/tmp
XNAT_MANIFEST_FILE=./xnat_code/manifest.txt.2025q4
XNAT_SUBJECT_WORKERS=2
XNAT_SCAN_WORKERS=2
XNAT_DISABLE_SSL_VERIFY=true
